extends ../layout/index

block contenido
    .py-10
        h1.text-center.text-4xl.my-10.font-extrabold Administración
            span.font-normal Zacatlán
        h2.text-center.text-2xl.font-extrabold= pagina

        p.text-xl.font-bold.text-center.my-10= mensaje
        form(action='/auth/login')
            input(class="w-full bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-3 cursor-pointer" type="submit", value="Iniciar Sesión")